name: Build
on:
  push:
    paths:
      - '**.nix'
      - flake.lock
  workflow_dispatch:

jobs:
  nixos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: moss
            os: ubuntu-24.04

          - host: scout
            os: ubuntu-24.04-arm

    name: NixOS (${{ matrix.host }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            log-lines = 500

      - name: Set up Cachix
        uses: cachix/cachix-action@v16
        with:
          name: errornobinaries
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Clone repository
        uses: actions/checkout@v5

      - name: Build ${{ matrix.host }}
        run: nix run github:Mic92/nix-fast-build --
               --no-nom --skip-cached
               --eval-workers 2 -j 1
               --flake .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
