name: Check
on:
  push:
    paths:
      - '**.nix'
      - flake.lock
      - npins/sources.json
  pull_request:
  workflow_dispatch:

jobs:
  nix-flake:
    name: Nix flake
    runs-on: ubuntu-24.04

    steps:
      - name: Install QEMU
        run: |
          sudo apt update -y
          sudo apt install -y qemu-user-static

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            log-lines = 500
            extra-platforms = aarch64-linux

      - name: Clone repository
        uses: actions/checkout@v5

      - name: Check Nix flake outputs
        run: nix flake check --all-systems --show-trace
